// Misc
$spacing: 1em;
$primaryColor: #803093;
$accentColor: white;
$invalidColor: rgb(238, 66, 102);
$boxShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

// Background
$backgroundImageUrl: url("./images/texture.png");
$backgroundSize: 15em;

// Text style
$fontFamily: "Open Sans", sans-serif;
$textColor: rgb(64, 64, 64);

// Form variables
// Label
$labelColor: rgb(66, 66, 66);

//Input
$inputColor: rgb(71, 76, 85);
$inputBorderColor: rgb(208, 232, 230);
$inputActiveBorderColor: rgb(161, 210, 206);
$inputInvalidBorderColor: rgb(242, 148, 166);
$inputInvalidActiveBorderColor: rgb(230, 113, 134);
$inputInvalidBackgroundColor: rgb(248, 231, 231);
$inputDisabledBorderColor: rgb(152, 152, 152);
$inputBorder: 3px solid $inputBorderColor;

// Messages
$successBorderColor: rgb(82, 179, 171);
