button {
  border-radius: 3em;
  box-shadow: $boxShadow;
  min-width: 10em;
  padding: 0.7em 0;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: ease-in-out 0.1s;
  margin-right: 1.5em;
  cursor: pointer;
  background-color: $primaryColor;
  color: white;

  &:hover {
    background-color: adjust-color($primaryColor, $blackness: 5%);
    transition: ease-in-out 0.1s;
  }
}
