.alert,
.success {
  border: 2px solid;
  width: calc(100% - 2em);
  text-align: center;
  padding: 0.7em;
  border-radius: 0.2em;
  margin-bottom: 1em;

  * {
    color: $accentColor;
    margin: 0;
  }
}

.alert {
  border-color: $invalidColor;
  background-color: $inputInvalidBorderColor;
}

.success {
  border-color: $successBorderColor;
  background-color: $inputActiveBorderColor;
}
