:root {
  --form-group-width: 100%;
  --form-group-space: 1em;
  --form-flex-justify-content: center;
}
@media (min-width: 768px) {
  :root {
    --form-group-width: 50%;
    --form-group-space: 1em;
    --form-flex-justify-content: space-between;
  }
}

form {
  .form-group {
    display: flex;
    justify-content: var(--form-flex-justify-content);
    flex-wrap: wrap;

    .input-group {
      width: calc(var(--form-group-width) - var(--form-group-space) * 2);
      margin-bottom: 2em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      transition: ease-in-out 0.1s;
    }

    label {
      color: $labelColor;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 0.8em;
      margin-bottom: 0.8em;
      font-weight: bold;
      transition: ease-in-out 0.1s;
    }

    span {
      width: 100%;
      display: block;
      font-size: 0.8em;
      font-weight: 600;
      font-style: italic;
      text-transform: initial;

      &.invalid {
        color: $invalidColor;
        margin-bottom: 0.3em;
      }
    }

    input:not([type="checkbox"]),
    select,
    input[type="checkbox"] ~ label::before {
      box-shadow: $boxShadow;
      border: $inputBorder;
      padding: 0.8em 1.2em;
      font-weight: 300;
      color: $inputColor;
      letter-spacing: 1px;
      background-color: white;
      text-transform: uppercase;
      transition: ease-in-out 0.1s;
      outline: none;
    }

    input:not([type="checkbox"]),
    select {
      &.invalid {
        border-color: $inputInvalidBorderColor;
        background-color: $inputInvalidBackgroundColor;
        transition: ease-in-out 0.1s;

        &:active,
        &:focus {
          border-color: $inputInvalidActiveBorderColor;
          transform: scale(1.01);
        }
      }
      &:disabled {
        border-color: $inputDisabledBorderColor;
        cursor: not-allowed;
        transition: ease-in-out 0.1s;
      }

      &:active,
      &:focus {
        border-color: $inputActiveBorderColor;
        transition: ease-in-out 0.1s;
        transform: scale(1.01);
      }
    }

    input[type="checkbox"] {
      display: none;
      & ~ label {
        display: flex;
        padding-left: 2.5em;
        padding-top: 0.3em;
        height: 1em;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 1rem;
          height: 1rem;
          padding: 0;
        }
      }

      &:checked ~ label::before {
        content: url("./images/check.svg");
        background-color: $primaryColor;
        border-color: $primaryColor;
        transition: ease-in-out 0.1s;
      }
    }

    select {
      appearance: none;
      position: relative;
      background-image: url("./images/text-expand-arrow.svg");
      background-repeat: no-repeat;
      background-size: 0.5em;
      background-position: calc(100% - 1em) center;
      max-width: 300px;
    }

    &:last-child {
      margin-bottom: 3em;
    }
  }
  .actions {
    margin-top: 3em;

    button {
      border-radius: 3em;
      box-shadow: $boxShadow;
      min-width: 10em;
      padding: 0.7em 0;
      border: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: ease-in-out 0.1s;
      margin-right: 1.5em;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &[type="submit"] {
        background-color: $primaryColor;
        color: white;

        &:hover {
          background-color: adjust-color($primaryColor, $blackness: 5%);
          transition: ease-in-out 0.1s;
        }
      }

      &[type="reset"] {
        background-color: $accentColor;
        color: $textColor;

        &:hover {
          background-color: adjust-color($accentColor, $blackness: 5%);
          transition: ease-in-out 0.1s;
        }
      }
    }
  }
}
