@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap");
@import "./components/variables";

body {
  background-size: $backgroundSize $backgroundSize;
  background-image: $backgroundImageUrl;
  background-repeat: repeat;
  font-family: $fontFamily;
}

p {
  color: $textColor;
}

.container {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Components
@import "./components/buttons.scss";
@import "./components/form.scss";
@import "./components/flashMessages.scss";
